* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #fff;
}

body {
    background-color: var(--main-color);
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}
a:hover {
    color: var(--second-color);
}

button, select {
    outline: none;
    border: none;
}

::selection {
    background-color: var(--second-color);
}